<div class="row">
    <div class="col-md-7 col-md-offset-2">
        <p class="lead"></p>
      {{#bs-form formLayout="horizontal"}}


        {{#bs-form-element
        horizontalLabelGridClass='col-md-3'
        label="State"
        }}
          {{#power-select
          selected=region
          options=regions
          searchField="state"
          onchange=(action 'setRegion')
          as |obj|
          }}
            {{obj.state}}
          {{/power-select}}
        {{/bs-form-element}}

        {{#bs-form-element
        horizontalLabelGridClass='col-md-3'
        label="Model"
        }}
          {{#power-select
          selected=car
          options=list
          searchField="model"
          onchange=(action 'setCar')
          as |obj|
          }}
            {{obj.model}}
          {{/power-select}}
        {{/bs-form-element}}

        {{#bs-form-element
        horizontalLabelGridClass='col-md-3'
        label="Year"
        }}
          {{#power-select
          selected=year
          searchField="year"
          options=car.years
          onchange=(action 'setYear')
          as |obj|
          }}
            {{obj.year}}
          {{/power-select}}
        {{/bs-form-element}}

        {{#bs-form-element
        horizontalLabelGridClass='col-md-3'
        label="Trim"
        }}
          {{#power-select
          searchField="name"
          selected=trim
          options=year.trims
          onchange=(action 'setTrim')
          as |obj|
          }}
            {{obj.name}}
          {{/power-select}}
        {{/bs-form-element}}

        {{#bs-form-element
        horizontalLabelGridClass='col-md-3'
        label="Options"
        }}
          {{#power-select-multiple
          options=options
          selected=selectedOptions
          searchField="name"
          onchange=(action (mut selectedOptions))
          as |obj|
          }}
            {{obj.name}}
          {{/power-select-multiple}}
        {{/bs-form-element}}

        {{bs-form-element
        horizontalLabelGridClass='col-md-3'
        label="Current Mileage"
        value=mileage
        }}

        {{bs-form-element
        horizontalLabelGridClass='col-md-3'
        label="Months since Sep 2015"
        value=months
        }}

      {{/bs-form}}
    </div>
</div>


<div class="col-xs-12 col-md-6 col-md-offset-3 well">
    <div class="row">
        <div class="col-md-2 col-xs-4 col-xs-offset-4">
            <h5>Buyback</h5>
        </div>
        <div class="col-md-2 col-xs-4">
            <h5>Modification</h5>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-4">
            <p>Car</p>
            <p>Options</p>
            <p>Mileage</p>
            <p>Adjustment</p>
            <p>Total:</p>

        </div>

        <div class="col-md-2 col-xs-4 text-right">
            <p>${{format-number trimValue.buyback precision=0}}</p>
            <p>${{format-number optionsValue.buyback precision=0}}</p>
            <p>${{format-number mileageAdjustment.buyback precision=0}}</p>
            <p>${{format-number adjustment precision=0}}</p>
            <p style="border-top:black solid 1px">${{format-number adjustedTotal.buyback precision=0}}</p>

        </div>
        <div class="col-md-2 col-xs-4 text-right">
            <p>${{format-number trimValue.modification precision=0}}</p>
            <p>${{format-number optionsValue.modification precision=0}}</p>
            <p>${{format-number mileageAdjustment.modification precision=0}}</p>
            <p>${{format-number adjustment precision=0}}</p>
            <p style="border-top:black solid 1px">${{format-number adjustedTotal.modification precision=0}}</p>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p><strong>Buyback:</strong> Sell your car back to VW.
            The total amount includes both the September 2015 Clean Trade Vehicle Value, plus a cash payment.</p>

        <p><strong>Modification:</strong> Keep your car, get a free modification to reduce emissions plus a cash payment.
        </p>

        <p>The Class Action Settlement Program will accept claims until September 1, 2018. </p>

        <p>For those cars that changed hands after September 18, 2015 and during the claims period,
            the settlement equitably divides the Owner Restitution payment approximately 50/50 between the owner as of
            September 18,
            2015 who later sold the car and the current owner. </p>

        <p>Note that if you sell your car after June 28, 2016, you will receive nothing.</p>

        <div class="alert alert-warning" role="alert">
            <strong>Disclaimer:</strong> I am in no way affiliated with VW.
            This is just a fun project to simplify the pdf documents released around June 28 2016.
            For more information about what's going on checkout the discussion at
            <a href="https://www.reddit.com/r/tdi/comments/4q9sn2/everything_you_need_to_know_about_buybacks_and/">r/tdi</a>.
        </div>

        <p>Data should be current as of June 30 2016.</p>

        <p>If you just want the json data it's in <code>window.data</code>.</p>

        <p>Find an issue? You can submit it <a href="https://github.com/agrahamg/VWBuybackCalculator/issues">here</a>.</p>


    </div>
</div>

